<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/default.css"/>
</head>
<body>
    <!-- top menu -->
    <div class="ui inverted huge borderless fluid menu">
      <a class="header item">Odminus</a>
      <div class="right menu">
        <a class="item">Настройки</a>
        <a class="item">Помощь</a>
      </div>
    </div>
    <div class="ui grid">
        <div class="row">
            <div class="three wide column" id="sidebar">
                <div class="ui secondary vertical fluid menu">
                    <a class="item active" asp-controller="agents" asp-action="index">Агенты серверов</a>
                    <div class="ui hidden divider"></div>
                    <a class="item">Информационные базы</a>
                    <a class="item">Администраторы</a>
                    <a class="item">Блокировки</a>
                </div>
            </div>
            <div class="twelve wide column" id="content">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>