<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/assets/metro4/css/metro-all.min.css">
    <link rel="stylesheet" href="/ui-styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- не есть хорошо -->
    <script src="/assets/jquery/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <!-- top menu -->
    @Html.Partial("topPanel")
    <div class="mt-18 ml-10 mr-10">
        @RenderBody()
    </div>
    <script src="/assets/metro4/js/metro.min.js"></script>
</body>
</html>