
<div class="dialog" data-role="dialog">
  <div class="dialog-title">Подтверждение</div>
  <div class="dialog-content">
    <p>Удалить?</p>
  </div>
  <div class="dialog-actions">
    <button class="alert button">Да</button>
    <button class="button js-dialog-close">Нет</button>
  </div>
  <form id="poster" method="POST" action="">
  </form>
</div>

<script>
    $('a.delete').click(function(evnt){
        evnt.preventDefault();
        var dialog = $('.dialog')
        var myId = this.id;
        dialog.find('div.dialog-content > p').text('Удалить элемент ' + myId + '?');
        dialog.find('div.dialog-actions > button.alert').click(function(){
          $('#poster').submit();
        });
        $('#poster').attr('action', '@Url.Action("delete")'+'/'+myId);
       
        Metro.dialog.open(dialog);
    });
</script>