@{
    Layout = "_noSidebarLayout";
}
<h2>Произошло нехорошее</h2>

<div style="border: 1px solid red; color: red; padding: 15px; margin-top: 2em;">
    <div class="header">При попытке вызова утилиты RAC произошла ошибка:</div>
    <p>@Model.ToString()</p>
</div>
