<div class="ui inverted huge borderless fluid menu">
    @Html.RouteLink("Odminus", "ПоУмолчанию", null, new {@class="header item"})
    <div class="right menu">
    <a class="item">Настройки</a>
    <a class="item">Помощь</a>
    </div>
</div>