@{/*<div class="ui inverted huge borderless fluid menu">*/}
<div class="app-bar bg-black fg-white app-bar-expand-md" data-role="appbar">
    <a class="brand no-hover text-bold" href="/">Odminus</a>
    <ul class="app-bar-menu ml-auto">
        <li><a class="item">Настройки</a></li>    
        <li><a class="item">Помощь</a></li>
    </ul>
</div>