<div class="ui inverted huge borderless fluid menu">
    <a class="header item" href="/">Odminus</a>
    <div class="right menu">
    <a class="item">Настройки</a>
    <a class="item">Помощь</a>
    </div>
</div>