@functions{
    string LinkClass(dynamic item)
    {
        if(item.Активность == true) {
            return "active";
        }

        return "";
    }
} 

<div id="sidebar">
<ul class="sidenav-simple sidenav-simple-expand-fs">
@foreach(var item in Model.Строки) {
    @if(item.Тип == "Ссылка") {
    <li>
       <a class="title @LinkClass(item)" href="@item.Адрес">@item.Текст</a>
       <span class='mif-cloud icon'></span>
    </li>
    }
    else if(item.Тип == "Разделитель"){
        <li class="divider"></li>
    }
}
</ul>
</div>