<div class="dialog no-visible" data-role="dialog">
    <div class="dialog-title">Авторизация в информационной базе</div>
    <div class="dialog-content">
        <p>Пользователь</p>
        <input id='db-login'type="text" data-history="false" data-role="input" autocomplete='off'> 
        <p>Пароль</p>
        <input id='db-password' type="password" data-role="input" autocomplete="new-password">   
    </div>
    <div class="dialog-actions text-right">
        <button class="button primary dialog-btn-access">Подтвердить</button>
        <button class="button dialog-btn-cancel">Отмена</button>
    </div>
</div>