
<h2 class="divided">
    Кластер серверов @Model.Имя()
</h2>

<p class="divided">
    Базы данных
    @await Component.InvokeAsync("databases",new {mode = "overview", cluster = Model})
</p>

<p class="divided">
    Рабочие серверы
</p>

<p class="divided">
    Рабочие процессы
</p>

<p class="divided">
    Сеансы
</p>

<p class="divided">
    Соединения
</p>