
<h1 class="ui divided header">
    Кластер серверов @Model.Имя()
</h1>

<h3 class="ui divided header">
    Базы данных
</h3>

<h3 class="ui divided header">
    Рабочие серверы
</h3>

<h3 class="ui divided header">
    Рабочие процессы
</h3>

<h3 class="ui divided header">
    Сеансы
</h3>

<h3 class="ui divided header">
    Соединения
</h3>