
<h2 class="divided">
    Кластер серверов @Model.Имя()
</h2>

<p class="mt-3 mb-2">
    <strong>Базы данных</strong>
    @await Component.InvokeAsync("databases",new {mode = "overview", cluster = Model})
</p>

<p class="divided">
    <strong>Рабочие серверы</strong>
</p>

<p class="divided">
    Рабочие процессы
</p>

<p class="divided">
    Сеансы
</p>

<p class="divided">
    Соединения
</p>