
<h2 class="divided">
    Кластер серверов @Model.Имя()
</h2>

<p class="divided">
    Базы данных
</p>

<p class="divided">
    Рабочие серверы
</p>

<p class="divided">
    Рабочие процессы
</p>

<p class="divided">
    Сеансы
</p>

<p class="divided">
    Соединения
</p>