@{
    Layout = "_noSidebarLayout";
}
<h2 class="divided header">Агент кластера</h2>

<form asp-action="@ViewContext.RouteData.Values["action"]" asp-route-id="@Model?.Идентификатор" class="form">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="Идентификатор">Идентификатор</label>
        <input name="Идентификатор" value="@Model?.Идентификатор" type="text"/>
    </div>
    <div class="form-group">
        <label for="СетевоеИмя">Сетевое имя</label>
        <input name="СетевоеИмя" value="@Model?.СетевоеИмя" type="text"/>
    </div>
    <div class="form-group">
        <label for="Порт">Порт</label>
        <input name="Порт" value="@Model?.Порт" type="text"/>
    </div>
    <div class="form-group">
        <label for="Описание">Описание</label>
        <textarea rows="2" name="Описание">@Model?.Описание</textarea>
    </div>
    <button type="submit" class="primary button mt-8">Сохранить</button>
</form>