<h2 class="ui dividing header">Администратор Агента кластера</h2>

<form asp-action="@ViewContext.RouteData.Values["action"]" asp-route-id="@Model?.Имя" class="form">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="Имя">Имя</label>
        <input name="Имя" value="@Model?.Имя" type="text"/>
    </div>
    <div class="form-group">
        <label for="Пароль">Пароль</label>
        <input name="Пароль" value="@Model?.Пароль" type="password"/>
    </div>
    <div class="form-group">
        <label for="ПовторПароля">Повтор пароля</label>
        <input name="ПовторПароля" value="@Model?.ПовторПароля" type="password"/>
    </div>
    <div class="form-group">
        <label for="Описание">Описание</label>
        <textarea rows="2" name="Описание">@Model?.Описание</textarea>
    </div>
    <button type="submit" class="primary button mt-8">Сохранить</button>
    @if(ViewBag.exists != null) {
        <a class="alert delete button mt-8" asp-action="delete" asp-route-id="@Model.Имя" id="@Model.Имя">Удалить</a>
    }
</form>

@Html.Partial("deleteConfirmPartialView")